<!-- uploader.html -->
<link rel="import" href="packages/polymer/polymer.html">
<polymer-element name="dartlery-viewer">
  <template>
    <style>
      :host {
        display:none;
        position:absolute;
        left:0px;
        top:0px;
        border: solid 0px black;
        right:0;
        text-align:center;
        
      }
      div#viewer {
        padding:5pt;
        margin-right: 156pt;
      }
      div#viewer img {
        max-width:100%;
        border: solid 1pt #bbbbbb;
      }
      textarea {
        width:400px;
        height: 200px;
        
      }
      div#tags {
        position:fixed;
        top:29pt;
        right:16pt;
        width: 150pt;
        border: solid 1pt #bbbbbb;
        text-align:center;
        padding-bottom: 4pt;
      }
      div.header {
        display:block;
        background-color: #bbbbbb;
        color:black;
        font-weight:bold;
        width:100%;
        margin-bottom:3pt;
        padding-top:2pt;
        padding-bottom:2pt;
      }
    </style>
    <div id="viewer">
      <img _src="{{imageSource}}" /><br/>
      <div>
      </div>
      <textarea value="{{tag_string}}" ></textarea><br/>
      <button value="save" on-click="{{saveClick}}">Save</button>
    </div>
    <div id="tags">
      <div class="header">Tags</div> 
      <template repeat="{{tag in tags}}">
        <div><a _href="#files?search={{tag}}">{{tag}}</a></div>
      </template>
    </div>
  </template>
  <script type="application/dart" src="dartlery_viewer.dart"></script>
</polymer-element>