<!-- uploader.html -->
<link rel="import" href="packages/polymer/polymer.html">
<polymer-element name="dartlery-paginator"> <template>
<style>
:host {
  border: solid 1pt #bbbbbb;
  border-radius: 5pt;
  background-color: rgba(221, 221, 221, 0.7);
  padding: 3pt;
  vertical-align: middle;
  line-height: 20pt;
}

input[type="range"] {
  background-color: black;
  width: 90%;
}

</style>
  <span class="start_page">1</span>
  <span class="page_slider">
  
  <input
    type="range" min="1" max="{{lastPage}}" value="{{currentPage}}"
    on-mouseup="{{pageSliderChange}}" on-keyup="{{pageSliderChange}}"
    on-mousewheel="{{pageSliderMouseWheel}}" />
  </span> 
    
  <span class="end_page">{{lastPage}}</span>

</template> <script type="application/dart" src="dartlery_paginator.dart"></script> </polymer-element>