
body {
  color:5c2f2f;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
}

div.body {
  position:absolute;
  top:25pt;
  left:0;
  right:0;
  bottom:0px;
  overflow:auto;
  scrollbars:auto;
}

.debug {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:200px;
  color:white;
  background:black;
}